body {
	font-family: Roboto;
	background: black;
}

.clock {
	justify-content: center;
}

.sierpinski {
	justify-content: center;
}

.nav-h1 {
	color: white;
}

.nav-h1:hover {
	color: black;
}

h1 {
	color: white;
}
